.nav-tabs-center{
  text-align: center;
}

.nav-tabs-center > li {
  float: none;
  display: inline-block;
}

.restaurant-item{
  border:1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom:20px;
}
.img-container{
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  overflow: hidden;
}

.restaurant-item img{
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

//
.my-restaurant{
  display: inline-block;
  text-align: center;
}

.my-restaurant > div {
  height: 100px;
}

.my-restaurant img {
  max-height: 100%;
}

.panel a:hover .my-restaurant{
  background-color: #eee;
}

a:-webkit-any-link {
    text-decoration: none;
}